.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}

h1 {
  text-align: center;
  width: 30%;
}
